{% extends 'nav-bar.html' %}
{% block content%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ABOUT</title>
    </head>
    <body>
        <h1>About</h1>
        <p>Esto es una prueba</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid quod dolor dolorem voluptas suscipit rerum corporis, deserunt veniam hic soluta porro eum deleniti, neque cupiditate delectus consequuntur recusandae eius, ipsa rem! Reprehenderit necessitatibus deleniti, molestias maxime quas saepe debitis eum at. Deleniti dicta vero doloremque consequatur, quasi, provident, quaerat iste et totam exercitationem voluptas ratione quae tempora eaque porro harum minima sit unde adipisci saepe corporis iure maxime atque. Inventore, sequi earum quisquam beatae maxime at est praesentium non recusandae rerum minima, laboriosam ipsa, itaque vel sint magnam officiis nesciunt nulla dicta. Reprehenderit vel soluta similique ut deleniti, vitae vero.</p>
        
    </body>
    </html>
{% endblock%}